/test_crypto
/test_synth_stack
/test_heap_enc
/test_pe_header_erase
/test_tp_callback
/test_doh_transport
/test_amsi_etw
/test_cronos
/test_module_stomp
/test_ja3
/test_ecdh_init
/archon_replay_harness
